<link href="catalog/view/theme/default/stylesheet/ogpay.css" rel="stylesheet" type="text/css" />
{% if payment_channels %}
 <div class="pull-left">
     <div class="paybox">
     <h2 class="ogpay-title">
         {{title}}
     <img src="https://ogpayadmin.oneglobal.com/pgimages/ogpay.png" alt="OG Pay" title="OG Pay" class="oglogo"></h2>
     <p class="ogpay-desc">{{description}}</p>
         {% for method in payment_channels%}
         <div class="radio radio_payment">
             <label>
            {% if loop.first %}
             <input type="radio" name="ogpay-methods" value="{{method.code}}" class="ogpay_methods" checked="checked">
            {% else %}
             <input type="radio" name="ogpay-methods" value="{{method.code}}" class="ogpay_methods"> 
            {% endif %}         
             {{method.name}}
             </label>
             <span><img src="https://ogpayadmin.oneglobal.com/pgimages/{{method.code}}.png" /></span>
         </div>
         {% endfor %}
     <p class="erms" style="color:red;"></p>
     </div>
 </div>    
<div class="pull-right">
  <input type="hidden" value="{{ url }}" id="ogpay-form" />
  <input type="button" value="{{ button_confirm }}" id="btnsubmit" disabled class="btn btn-primary" />
</div>
{% else %}
{% if error_message %}
<p style="color:red;">{{error_message}}</p>
{% endif %}
  <div class="buttons">
    <div class="pull-right">
        <input type="hidden" value="{{ url }}" id="ogpay-form" />    
      <input type="button" value="{{ button_confirm }}" id="btnsubmit" class="btn btn-primary" />
    </div>
  </div>
{% endif %}
<script>
    $(document).ready(function() {
            $(document).on('click', '#btnsubmit', function() {
                var getUrl = $('#ogpay-form').val();
                window.location.href = getUrl;
            });
            var pcode = $("input[name='ogpay-methods']:checked").val();
            if(pcode!=""){
            $.ajax({
                url: 'index.php?route=extension/payment/ogpay/getUrl',
                type: 'post',
                data: 'payment_code='+pcode,
                dataType: 'json',
                beforeSend: function() {
			       $('#btnsubmit').button('loading');
		        },
		        complete: function() {
			       $('#btnsubmit').button('reset');
                },
                success: function(json) {
                    if (json['success']){
                        var jurl = json['url'];
                        $('#ogpay-form').val(jurl);
                        $('#btnsubmit').prop('disabled', false);
                        $('.erms').html('');
                    }else{
                        var error = json['error_message'];
                        $('.erms').html(error+' Please contact to owner');
                    }
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                }
            });  
            }else{
               $('#btnsubmit').prop('disabled', true); 
            }        
        
        $(document).on('change', '.ogpay_methods', function() {
            var pcode = $(this).val();
            if(pcode!=""){
            $.ajax({
                url: 'index.php?route=extension/payment/ogpay/getUrl',
                type: 'post',
                data: 'payment_code='+pcode,
                dataType: 'json',
                beforeSend: function() {
			       $('#btnsubmit').button('loading');
		        },
		        complete: function() {
			       $('#btnsubmit').button('reset');
                },
                success: function(json) {
                    if (json['success']){
                        var jurl = json['url'];
                        $('#ogpay-form').val(jurl);
                        $('#btnsubmit').prop('disabled', false);
                        $('.erms').html('');
                    }else{
                        var error = json['error_message'];
                        $('.erms').html(error+' Please contact to owner');
                    }
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                }
            });  
            }else{
               $('#btnsubmit').prop('disabled', true); 
            }
        });
   
    });
</script>